@keyframes slide-out-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-99%);
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-99%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slide-in-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-99%);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-99%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.snapped-top {
  animation: slide-out-top 0.5s forwards;
}
.un-snapping-top {
  animation: slide-in-top 0.5s forwards;
}

.snapped-bottom {
  animation: slide-out-bottom 0.5s forwards;
}
.un-snapping-bottom {
  animation: slide-in-bottom 0.5s forwards;
}

.snapped-left {
  animation: slide-out-left 0.5s forwards;
}
.un-snapping-left {
  animation: slide-in-left 0.5s forwards;
}

.snapped-right {
  animation: slide-out-right 0.5s forwards;
}
.un-snapping-right {
  animation: slide-in-right 0.5s forwards;
}
